.search-div {
    border: 1px solid skyblue;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
}

.search-input {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
}

.search-btn {
    position: fixed;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../media/search.png);
    background-repeat: no-repeat;
}
.search-btn:hover {
    color: violet;
    cursor: pointer;
}
